* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-normal: #a8a77a;
  --cor-fire: #ee8130;
  --cor-water: #6390f0;
  --cor-eletric: #f7d02c;
  --cor-grass: #7ac74c;
  --cor-ice: #96d9d6;
  --cor-fighting: #c22e28;
  --cor-poison: #a33ea1;
  --cor-ground: #e2bf65;
  --cor-flying: #a98ff3;
  --cor-psychic: #f95587;
  --cor-bug: #a6b91a;
  --cor-rock: #b6a136;
  --cor-ghost: #735797;
  --cor-dragon: #6f35fc;
  --cor-dark: #705746;
  --cor-steel: #b7b7ce;
  --cor-fairy: #d685ad;
  --cor-red: #cc0000;
  --cor-gray: #595858;
}
/* COMPONENTE HEADER*/
.header {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--cor-red);
}

.logo {
  height: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__link:hover {
  text-decoration: underline;
}

/* BODY GERAL*/
#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-image: linear-gradient(var(--cor-red), #570000);
}

/* MAIN COMPONENTE */
.main {
  margin: 6vw 1vh 2vh;
  flex: 1;
  border-radius: 15px;
  border: 1px solid black;
  background-color: white;
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.main__header__options {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 4vh;
  gap: 4vh;
}

.main__header__options:hover {
  cursor: pointer;
}

.main-header__dropdown {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 2vh;
  padding: 4vh;
  background-color: white;
  border-radius: 20px;
  border-top-right-radius: 0%;
  border: solid 1px black;
  width: 150px;
  z-index: 1;
  position: absolute;
}

.main-header__dropdown-link {
  text-decoration: none;
  color: black;
}

.main-header__dropdown-link:hover {
  text-decoration: underline;
}

.main__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 9vh 12vh;
  gap: 40px;
}

.main__pesquisar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.main__pesquisar__campo {
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 2px 2px rgb(146, 146, 146);
  width: 400px;
  text-align: center;
  height: 40px;
}

.main__pesquisar__button {
  height: 40px;
  border: solid 1px black;
  box-shadow: 2px 2px rgb(146, 146, 146);
  border-radius: 50%;
  padding: 5px;
}

.main__error {
  color: red;
}

/* PAGINA POKEDEX */
.pokedex__container {
  display: flex;
  padding: 40px;
  gap: 20px;
  border: 1px solid black;
  margin: 10vh 4vh;
}

.pokedex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  height: 80svh;
}

.pokedex__buscar {
  display: flex;
  flex-wrap: nowrap;
}

.pokedex__pesquisar {
  width: 300px;
  height: 40px;
}

.pokedex__button {
  height: 40px;
  width: 80px;
  margin-left: 5px;
}

.pokedex__image {
  height: 200px;
}

/* COMPONENTE SINGLE ITEM*/
.single-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  gap: 10px;
}

.single-item:hover {
  cursor: pointer;
}

.single-item__div-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.single-item__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.single-item__id {
  color: var(--cor-gray);
}

.single-item__types {
  display: flex;
  flex-wrap: wrap;
}

.single-item__type {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 2vh;
  color: white;
  font-weight: bold;
}

/* COMPONENTE ITEM LIST */
.item-list__container {
  display: grid;
  gap: 2vh;
  margin: 2vh;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
}
